- content_for :extra_tab do
  .tab.current
    %span View mailing list

%table.show_model
  %tr
    %th Name:
    %td= @list.name
  %tr
    %th Members:
    %td
      = check_box_hack pluralize(@list.members.count, 'member') + " (of #{Member.count} total)", "members_list" do
        - @list.members.each do |member|
          = link_to("#{member.forename} #{member.surname}", member_path(member))
          %br

= link_to 'Edit', edit_mailing_list_path(@list)
\|
= link_to 'Back', mailing_lists_path
