- content_for :extra_tab do
  .tab.current
    %span View mailing list

%table.show_model
  %tr
    %th Name:
    %td= @list.name
  %tr
    %th Fixed members:
    %td
      = check_box_hack pluralize(@list.members.count, 'member') + " (of #{Member.count} total)", "members_list" do
        - @list.members.name_order.each do |member|
          = link_to(member.fullname, member_path(member))
          %br
  %tr
    %th Varying members:
    %td
      = display_query @list.query
      - dynamic_members = Member.search(@list.query).result
      .member-list
        = check_box_hack "Currently " + pluralize(dynamic_members.count, 'member') + " (of #{Member.count} total)", "dyn_members_list" do
          - dynamic_members.name_order.each do |member|
            = link_to(member.fullname, member_path(member))
            %br
%div
  = icon_link 'envelope', new_mail_shot_path(@list)
  = link_to 'Email this list', new_mail_shot_path(@list)
= link_to 'Edit', edit_mailing_list_path(@list)
\|
= link_to 'Back', mailing_lists_path
