!!! html5
%html.no-js
  %head
    %title Clogs Membership Database
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    :javascript
      document.documentElement.className = "js";
      $(function()
      {
        $('.nojs-section').remove();
        #{content_for :document_ready};
      });
    = csrf_meta_tags

  %body
    #gradient-bg

    %header
      - if user_signed_in?
        %p= raw("Signed in as #{current_user.email} | " + link_to('Sign out', destroy_user_session_path, method: :delete))

    #flash
      = render partial: 'shared/flash', object: flash

    %nav.tabbedNav.group
      = content_for :extra_tab
      = render partial: 'shared/tabbed_nav'

    #content
      = yield
