%h1 All members
%br

= link_to 'New Member', new_member_path

%table.tablekit.sortable
  %thead
    %tr
      %th.nosort
      %th.sortcol Forename
      %th.sortcol.sortfirstasc Surname
      %th.nosort Notes
      %th.sortcol Address
      %th.sortcol.text Phone
      %th.sortcol Voice
      %th.sortcol Membership
      %th.sortcol Email
      %th.sortcol Joined
      %th.sortcol Subs paid
      %th.sortcol Show paid
      %th.sortcol Concert paid

  %tbody
    - @members.each do |member|
      %tr
        %td= show_edit_delete_links(member, member.fullname)
        %td= member.forename
        %td= member.surname
        %td= member.notes
        %td= transform_newlines member.address
        %td
          = raw member.formatted_phone
          %br
          = raw member.formatted_mobile
        %td= member.voice
        %td= member.membership
        %td= member.email
        %td= "#{member.join_year} (#{Time.now.year - member.join_year} yrs)" unless member.join_year.blank?
        %td= link_to tick_or_cross(member.subs_paid), toggle_paid_member_path(member, fee: 'subs'), method: :put, :class => 'only-icon', id: "subs-#{member.id}", remote: true
        %td= link_to tick_or_cross(member.show_fee_paid), toggle_paid_member_path(member, fee: 'show'), method: :put, :class => 'only-icon', id: "show-#{member.id}", remote: true
        %td= link_to tick_or_cross(member.concert_fee_paid), toggle_paid_member_path(member, fee: 'concert'), method: :put, :class => 'only-icon', id: "concert-#{member.id}", remote: true

%br

= link_to 'New Member', new_member_path
