%h1 All members
%br

= link_to 'New Member', new_member_path

%table.tablekit.sortable
  %thead
    %tr
      %th.nosort
      %th.sortcol Forename
      %th.sortcol.sortfirstasc Surname
      %th.nosort Notes
      %th.sortcol Addr1
      %th.sortcol Addr2
      %th.sortcol Addr3
      %th.sortcol Town
      %th.sortcol County
      %th.sortcol Postcode
      %th.sortcol.text Phone
      %th.sortcol.text Mobile
      %th.sortcol Voice
      %th.sortcol Membership
      %th.sortcol Email
      %th.sortcol Subs paid
      %th.sortcol Show paid
      %th.sortcol Concert paid

  %tbody
    - @members.each do |member|
      %tr
        %td= show_edit_delete_links(member, member.fullname)
        %td= member.forename
        %td= member.surname
        %td= member.notes
        %td= member.addr1
        %td= member.addr2
        %td= member.addr3
        %td= member.town
        %td= member.county
        %td= member.postcode
        %td= member.phone
        %td= member.mobile
        %td= member.voice
        %td= member.membership
        %td= member.email
        %td= tick_or_cross member.subs_paid
        %td= tick_or_cross member.show_fee_paid
        %td= tick_or_cross member.concert_fee_paid

%br

= link_to 'New Member', new_member_path
