- content_for :extra_tab do
  .tab.current
    %span View member

%table
  %tr
    %th Forename:
    %td= @member.forename
  %tr
    %th Surname:
    %td= @member.surname
  %tr
    %th Addr1:
    %td= @member.addr1
  %tr
    %th Addr2:
    %td= @member.addr2
  %tr
    %th Addr3:
    %td= @member.addr3
  %tr
    %th Town:
    %td= @member.town
  %tr
    %th County:
    %td= @member.county
  %tr
    %th Postcode:
    %td= @member.postcode
  %tr
    %th Phone:
    %td= @member.phone
  %tr
    %th Mobile:
    %td= @member.mobile
  %tr
    %th Voice:
    %td= @member.voice
  %tr
    %th Membership:
    %td= @member.membership
  %tr
    %th Email:
    %td= @member.email
  %tr
    %th Subs paid:
    %td= tick_or_cross @member.subs_paid
  %tr
    %th Show fee paid:
    %td= tick_or_cross @member.show_fee_paid
  %tr
    %th Concert fee paid:
    %td= tick_or_cross @member.concert_fee_paid

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
