%p#notice= notice

%p
  %b Forename:
  = @member.forename
%p
  %b Surname:
  = @member.surname
%p
  %b Addr1:
  = @member.addr1
%p
  %b Addr2:
  = @member.addr2
%p
  %b Addr3:
  = @member.addr3
%p
  %b Town:
  = @member.town
%p
  %b County:
  = @member.county
%p
  %b Postcode:
  = @member.postcode
%p
  %b Phone:
  = @member.phone
%p
  %b Mobile:
  = @member.mobile
%p
  %b Voice:
  = @member.voice
%p
  %b Membership:
  = @member.membership
%p
  %b Email:
  = @member.email
%p
  %b Subs paid:
  = @member.subs_paid
%p
  %b Show fee paid:
  = @member.show_fee_paid
%p
  %b Concert fee paid:
  = @member.concert_fee_paid

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
